/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 40px;
}

.main-container > p {
  font-size: 18px;
  color: #E8643A;
}

.main-container > p > span {
  color: #eee;
}
/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
  color: #fff;
  margin: 2rem;
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 600px;
  min-height: 250px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__status {
  margin-top: 5px;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__status > span {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.card__title_green {
  background: green;
  
}

.card__title_red {
  background: red;
}

/*CARD BACKGROUNDS */

.card-1 {
  background: #413D4F;
}

.card__content {
  display: flex;
}

.card__image {
  width: 220px;
  height: 210px;

  object-fit: cover;
}

.card__image img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid #fff;
  outline: 4px solid #E8643A;

  /*border: 2px solid #E8643A;*/
}

.card__about {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 1px solid rgb(255, 255, 255);*/
  height: 210px;
}

.card__about__product {
 /* border: 1px solid red;*/
  width: 320px;
  height: 200px;
}

.card__about__product h2 {
  margin-bottom: 2px;
  color: #b9b9b9;
}

.card__about__product b {
  color: #fff;
}
.card__about__btn {
  /*border: 1px solid blue;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card__about__btns > button {
  width: 80px;
  color: #fff;
  padding: 5px;
  border: 0;
  outline: 0;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.card__about__btns .btn1 {
  background: #E8643A;
  margin-right: 6px;
}

.card__about__btns .btn1:hover {
  background: #963a1e;
  border: 1px solid #eee;
}

.card__about__btns .btn2 {
  background: #CA2626;
}

.card__about__btns .btn2:hover {
  background: #bd2323;
  border: 1px solid #eee;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}


@media (max-width: 768px) {

  html {
    font-size: 87.5%;
  }

  .main-container {
    padding: 0;
  }

  .main-container > p {
    text-align: center;
    margin-top: 10px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    margin: 20px;
    padding: 20px;
    min-height: 250px;
    border-radius: 10px;
  }
}
